%h3 Dashboard
%h4 
  Campaigns
  %a.gb{:href => "/campaign/new"} New campaign
%p  
  - if @c.count == 0
    You don't currently have any compaigns setup.
  - else
    You have campaigns to display. Loop through and display them.
