%h3 Login
%p
  %form{:name => "Login", :method => "post", :action => "login/process"}
    %input{:id => "email", :name => "email", :type => "text", :placeholder => "Email address"}
    %br
    %input{:id => "password", :name => "password", :type => "password", :placeholder => "Password"}
    %br
    %input{:id => "loginBtn", :name => "loginBtn", :type => "submit", :value => "Login"}
