%h2 Privacy Policy
%h4 Last updated: #{ Time.new.strftime("%d/%m/%Y") }
%p
  If a submittion error occurs, the originating users (or the originating servers) IP address will be logged in order to monitor the service and allow us (MailByte) to identify and respond accordingly to activities which are deemed harmful to the service, and therefore our clients.
%p
  No data is shared, with anyone. We wont sell your email addresses, or any of your information AT ALL.
