- if @notice
  %span.notice{:class => @notice['type']}
    =@notice['msg']

%h3 New input domain for #{ Campaign.find(params[:id]).name }
%p An input domain is a domain which this campaign will accept subscription requests from. Any requests from domains which aren't specified will be disregarded. This is a security measure. 
%form{:id => "newDomainFrm", :name => "newDomainFrm", :method => "post", :action => "/campaign/#{params[:id]}/domain/new/process"}
  %table
    %tr
      %td
        %label{:for => "domain"} Domain name
      %td
        %input{:id => "domain", :name => "domain", :placeholder => "e.g. http://domainname.com"}
    %tr
      %td
      %td
        %input{:type => "submit", :value => "Save"}
  
