%p
  %small
    = link_to "Back to campaigns", "/campaign"
%h2= @c[:name]
%h4 
  Templates
  %button New template
%p
  - if @c.totalTemplates > 0
    @c.templates.each do |t|
      
  - else
    This campaign doesn't have any templates. Email templates.
%h4 
  Input domains
  %button New input domain
%p
  - if @c.totalInputdomains > 0
    @c.inputdomains.each do |id|
      
  - else
    This campaign doesn't have any input domains. These are the domains which the user has stated are going to be submitting subscribers into this campaign.
%h4 
  Subscribers
  %button Generate subscription form
%p
  - if @c.totalSubscribers > 0
    @c.subscribers.each do |s|
      
  - else
    This campaign doesn't have any subscribers. 
