%html
  %head
    %title MailByte
    = stylesheet_link_tag    "style"
    = javascript_include_tag "jquery.min", "application" 
    = csrf_meta_tags
  %body
    #wrapper
      #header
        %h2 MailByte
        %p.user 
          =menu
      #main
        = yield
